[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
minizinc = "*"
numpy = "*"
z3-solver = "*"

[dev-packages]
autopep8 = "*"
pdoc = "*"
pygments = "*"

[requires]
python_version = "3.9"
